

<!-- used account kshivam117@gmail.com -->
<!-- follow these commands for run/deploment and setup https://github.com/firebase/quickstart-js/tree/master/database -->
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CBO PRESENTATION </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-database.js"></script>
  <script src="angular/angular.min.js"></script>
  <script src="main.js"></script>

  <link rel="stylesheet" href="main.css">
  <link rel="manifest" href="manifest.json">

</head>
<body data-ng-app="MyApp" data-ng-controller="MyCntrl">
<div class="">
  <div class="header">
    <h3>CBO PRESENTATION</h3>
  </div>
  <div class="container-fluid">

    <div class="center-square loader-lg" id="loaderView"></div>

    <div class="row" id="dataView">
      <div class="col-lg-12">
        
      <div class="row">
        <div class="col-sm-2">
          <button class="btn primary" id="PreviousBTN" style="margin-top: 4px" ng-click="goPrevious()">Previous</button>

        </div>
        <div class="col-sm-8">
          <p id="titleAds" style="text-align: center;">VISUAL GRAPICS</p>
        </div>
        <div class="col-sm-2">
          <button class="btn primary" id="NextBTN"  style="margin-top: 4px" ng-click="goNext()">Next</button>
        </div>
      </div>

        <div id="visualAdDiv" style="text-align: center; margin-bottom: 90px;"> </div>
        <div id="myBottomDiv">
          <!-- <button class="feedback">Feedback</button> -->
          <div class="horizontalScrollableItems" id="horizontalRow" > </div>
          </div>
      </div>

      <!-- <div class="col-lg-2" id="commandWriteDivRight">
        
        <button class="btn primary" style="margin-left: 4px;margin-top: 20px" onclick="getLinkForDoctor()">GET DOCTOR LINK</button>

        <div class="row" style="margin-top: 10px" >
          <input type="number" id="mdInput" placeholder="COMMNAD" style="text-transform:uppercase; width: 140px;" >
          <button class="btn success" style="margin-left: 4px" onclick="insertNewCommand()">SEND</button>
        </div>
        <div id="comandDivs"> </div>
       
      </div> -->
      
    </div>
  </div>
</div>
<script>
 
</script>
</body>
</html>
